<Page>
    <ActionBar [title]="'Perkembangan ' + anak.nama"></ActionBar>
    <StackLayout >
        <RadListView
                [items]="kembangs"
                pullToRefresh="true"
                (pullToRefreshInitiated)="loadkembangs($event)"
                selectedBehavior="Press"
        >
            <ng-template tkListItemTemplate let-item="item">
                <CardView (tap)="viewkembang(item)" class="card-list" radius="8">
                    <StackLayout class="wrapper" orientaion="vertical" >
                        <Label class="title" [text]="item.umur + ' bulan'"></Label>
                        <Label class="desc" [text]="item.hasil ? item.hasil.validasi === 1 ? 'Sudah divalidasi' : 'Belum divalidasi' : 'Belum diperiksa'"></Label>
                    </StackLayout>
                </CardView>
            </ng-template>
        </RadListView>
    </StackLayout>
</Page>
