<Page>
    <ActionBar title="Kehamilan" ></ActionBar>
</Page>

<TabView>

    <ScrollView *tabItem="{title: 'R. Kehamilan'}">

        <StackLayout padding="16">
            <RadDataForm [source]="riwayat" >
                <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="kehamilan_id" hidden="true"></TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="hamil_ke" displayName="Hamil ke-"></TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="gerak_janin" displayName="Gerakan janin" [valuesProvider]="gerakan_janin">
                    <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                </TKEntityProperty>


                <TKEntityProperty tkDataFormProperty name="n_melahirkan" displayName="Jumlah melahirkan">
                    <TKNonEmptyValidator tkEntityPropertyValidators  errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="jumlah_abortus" displayName="Jumlah abortus">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="jarak_hamil" displayName="Jarak hamil">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="normal_anak_ke" displayName="Melahirkan normal pada anak ke-">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="sesar_anak_ke" displayName="Melahirkan sesar pada anak ke-">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="vakum_anak_ke" displayName="Melahirkan vakum pada anak ke-">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="prematur_anak_ke" displayName="Melahirkan prematur pada anak ke-">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Penolong Persalinan" hidden="false">
                    <TKEntityProperty tkPropertyGroupProperties name="penolong_persalinan_is_bidan" displayName="Bidan" [valuesProvider]="penolongChoides">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties name="penolong_persalinan_is_dukun" displayName="Dukun" [valuesProvider]="penolongChoides">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties name="penolong_persalinan_is_dokter" displayName="Dokter" [valuesProvider]="penolongChoides">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties name="penolong_persalinan_is_lain" displayName="Lainnya" [valuesProvider]="penolongChoides">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>
                </TKPropertyGroup>

                <TKEntityProperty tkDataFormProperty name="berat_anak_2_less" displayName="Berat badan anak kurang dari 2 Kg pada anak ke-">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="berat_anak_2_to_3_on" displayName="Berat badan anak diantara 2 - 3 Kg pada anak ke-">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="berat_anak_4_more" displayName="Berat badan anak lebihi dari 4 Kg pada anak ke-">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
                </TKEntityProperty>

            </RadDataForm>
            <Button text="Simpan" (tap)="saverkeham()"></Button>
        </StackLayout>

    </ScrollView >

    <ScrollView row="auto,*" *tabItem="{title: 'R. Kesehatan'}">

        <StackLayout padding="16"> 
            <RadDataForm [source]="kesehatan">
                <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="kehamilan_id" hidden="true"></TKEntityProperty>

                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Penyakit yang diidap" hidden="false">

                    <TKEntityProperty tkPropertyGroupProperties name="penyakit_darah_tinggi" displayName="Penyakit Darah Tinggi" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="penyakit_gula" displayName="Penyakit Gula" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="penyakit_asma" displayName="Penyakit Asma" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="penyakit_jantung" displayName="Penyakit Jantung" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="penyakit_seks_menular" displayName="Penyakit Seks Menular" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="penyakit_malaria" displayName="Malaria" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="penyakit_kurang_darah" displayName="Penyakit Kurang Darah" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="penyakit_tcp_paru" displayName="Penyakit TCP/Paru-paru" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="penyakit_lainnya" displayName="Penyakit Lainnya">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                </TKPropertyGroup>

                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Penyakit turunan" hidden="false">

                    <TKEntityProperty tkPropertyGroupProperties name="turunan_darah_tinggi" displayName="Penyakit Darah Tinggi" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="turunan_gula" displayName="Penyakit Gula" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="turunan_asma" displayName="Penyakit Asma" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="turunan_jantung" displayName="Penyakit Jantung" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="turunan_lainnya" displayName="Penyakit Lainnya">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="riwayat_kontrasepsi" displayName="Riwayat Kontrasepsi" [valuesProvider]="r_kontrasepsi">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                </TKPropertyGroup>

                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Pemberian Imunisasi" hidden="false">

                    <TKEntityProperty tkPropertyGroupProperties name="imunisasi_tt1_pada_tahun" displayName="Imunisasi TT1 pada tahun">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="imunisasi_tt2_pada_tahun" displayName="Imunisasi TT2 pada tahun">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="imunisasi_tt3_pada_tahun" displayName="Imunisasi TT3 pada tahun">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="imunisasi_tt4_pada_tahun" displayName="Imunisasi TT4 pada tahun">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="imunisasi_tt5_pada_tahun" displayName="Imunisasi TT5 pada tahun">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                </TKPropertyGroup>

            </RadDataForm>
            <Button text="simpan" (tap)="save_r_kesehatan()"></Button>
        </StackLayout>

    </ScrollView>

    <ScrollView *tabItem="{title: 'Keluhan'}">

        <StackLayout padding="16">
            <RadDataForm [source]="keluhan" >
                <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="kehamilan_id" hidden="true"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="created_at" hidden="true"></TKEntityProperty>


                <!--Trimester pertama-->

                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Trimester 1" hidden="false">

                    <TKEntityProperty tkPropertyGroupProperties name="1_mual_muntah" displayName="Mual Muntah" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="1_susah_bab" displayName="Susah Buang Air Besar" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="1_keputihan" displayName="Keputihan" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="1_pusing" displayName="Pusing" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="1_mudah_lelah" displayName="Mudah Lelah" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="1_panas_dada" displayName="Panas dada" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="1_lainnya" displayName="Lainnya">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                </TKPropertyGroup>

                <!--Trimester kedua-->

                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Trimester 2" hidden="false">

                    <TKEntityProperty tkPropertyGroupProperties name="2_pusing" displayName="Pusing" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="2_nyeri_perut_bawah" displayName="Nyeri Perut Bawah" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="2_nyeri_punggung" displayName="Nyeri Pinggung" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="2_keputihan" displayName="Keputihan" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="2_susah_bab" displayName="Susah Buang Air Besar" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="2_sering_berkemih" displayName="Sering berkemih" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="2_gerak_janin_berkurang" displayName="Gerak Janin Berkurang" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="2_lainnya" displayName="Lainnya">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                </TKPropertyGroup>

                <!--trimester 3-->

                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Trimester 3" hidden="false">

                    <TKEntityProperty tkPropertyGroupProperties name="3_susah_bab" displayName="Susah Buang Air Besar" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_keram_kaki" displayName="Keram Kaki" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_nyeri_perut_bawah" displayName="Nyeri Perut Bawah" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_gerak_janin_berkurang" displayName="Gerak Janin Berkurang" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_sering_berkemih" displayName="Sering berkemih" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_bengkak_kaki" displayName="Bengkak pada Kaki" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_keputihan" displayName="Keputihan" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_sulit_tidur" displayName="Sulit Tidur" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_sesak_nafas" displayName="Sesak Nafas" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_nyeri_punggung" displayName="Nyeri Punggung" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_keluar_darah_kemaluan" displayName="Keluar darah dari kemaluan" [valuesProvider]="keluhanChoices">
                        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties name="3_lainnya" displayName="Lainnya">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                </TKPropertyGroup>

            </RadDataForm>
            <Button text="simpan" (tap)="save_r_keluhan()"></Button>
        </StackLayout>

    </ScrollView>

    <GridLayout row="auto,*" *tabItem="{title: 'Pemeriksaan'}">

        <RadListView
                [items]="pemeriksaans"
                pullToRefresh="true"
                (pullToRefreshInitiated)="load_pemeriksaans($event)"
                selectedBehavior="Press"
        >

            <ng-template tkListItemTemplate let-item="item">

                <CardView class="card-list" radius="8">
                    <GridLayout columns="*,auto,auto,auto" class="wrapper" (tap)="edit_pemeriksaan(item)" orientation="horizontal">
                        <StackLayout col="0" orientaion="vertical">
                            <Label class="desc" text="Pemeriksaan pada"></Label>
                            <Label class="title" [text]="item.tanggal_pemeriksaan"></Label>
                        </StackLayout>

                        <Image col="1" class="ic_action" (tap)="view_resume_pemeriksaan(item)" src="res://ic_assignment_black_24dp"></Image>
                        <Image col="2" class="ic_action" (tap)="gotoTindakan(item)" src="res://ic_pan_tool_black_24dp"></Image>
                        <Image col="3" class="ic_action" (tap)="delete_pemeriksaan(item)" src="res://ic_delete_black_48dp"></Image>

                    </GridLayout>
                </CardView>

            </ng-template>

        </RadListView>

        <FAB:fab (tap)="add_pemeriksaan()" class="fab-button" row="1" rippleColor="#f1f1f1" ></FAB:fab>
    </GridLayout>

    <ScrollView *tabItem="{title: 'Melahirkan'}">

        <StackLayout padding="16">
            <RadDataForm [source]="melahirkan" >
                <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="kehamilan_id" hidden="true"></TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="tanggal_melahirkan" displayName="Tanggal Melahirkan">
                    <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="cara_persalinan" displayName="Cara Persalinan">
                    <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="keadaan_ibu" displayName="Keadaan Ibu">
                    <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="tanggal_ibu_meninggal" displayName="Tanggal Ibu Meninggal">
                    <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="keadaan_bayi" displayName="Keadaan Bayi">
                    <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="tanggal_bayi_meninggal" displayName="Tanggal bayi meninggal">
                    <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="jenis_kelamin_bayi" displayName="Jenis Kelamin Bayi" [valuesProvider]="['L','P']">
                    <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="with_husband" displayName="Didampingi Suami" [valuesProvider]="keluhanChoices">
                    <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="selesai" displayName="Selesai" [valuesProvider]="keluhanChoices">
                    <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                </TKEntityProperty>


            </RadDataForm>
            <Button text="simpan" (tap)="save_melahirkan()"></Button>

        </StackLayout>

    </ScrollView>

    <ScrollView *tabItem="{title: 'Persalinan'}">
        <StackLayout padding="16">

            <Label text="Tanggal kala 1"></Label>
            <DatePicker [date]='persalinan.tanggal_kala_1' (dateChange)="persalinan.tanggal_kala_1 = moment($event.value).format('YYYY-MM-DD')"></DatePicker>

            <Label text="Jam kala 1"></Label>
            <TimePicker [time]='moment((persalinan.jam_kala_1 !== null ? persalinan.jam_kala_1 : "00:00"),"HH:mm").toDate()' (timeChange)="persalinan.jam_kala_1 = moment($event.value).format('HH:mm')"></TimePicker>

            <Label text="Tanggal kala 2"></Label>
            <DatePicker [date]='persalinan.tanggal_kala_2 ? moment(persalinan.tanggal_kala_2).toDate() : moment().toDate()' (dateChange)="persalinan.tanggal_kala_2 = moment($event.value).format('YYYY-MM-DD')"></DatePicker>

            <Label text="Jam kala 2"></Label>
            <TimePicker [time]='moment((persalinan.jam_kala_2 !== null ? persalinan.jam_kala_2 : "00:00"),"HH:mm").toDate()' (timeChange)="persalinan.jam_kala_2 = moment($event.value).format('HH:mm')"></TimePicker>

            <Label text="Tanggal Bayi Lahir"></Label>
            <DatePicker [date]='persalinan.tanggal_bayi_lahir' (dateChange)="persalinan.tanggal_bayi_lahir = moment($event.value).format('YYYY-MM-DD')"></DatePicker>

            <Label text="Jam Bayi Lahir"></Label>
            <TimePicker [time]='moment((persalinan.jam_bayi_lahir !== null ? persalinan.jam_bayi_lahir : "00:00"),"HH:mm").toDate()' (timeChange)="persalinan.jam_bayi_lahir = moment($event.value).format('HH:mm')"></TimePicker>

            <Label text="Tanggal Plasenta Lahir"></Label>
            <DatePicker [date]='persalinan.tanggal_plasenta_lahir' (dateChange)="persalinan.tanggal_plasenta_lahir = moment($event.value).format('YYYY-MM-DD')"></DatePicker>

            <Label text="Jam Plasenta Lahir"></Label>
            <TimePicker [time]='moment((persalinan.jam_plasenta_lahir !== null ? persalinan.jam_plasenta_lahir : "00:00"),"HH:mm").toDate()' (timeChange)="persalinan.jam_plasenta_lahir = moment($event.value).format('HH:mm')"></TimePicker>

            <TextInputLayout hint="Perdarahan" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.perdarahan" ></TextField>
            </TextInputLayout>

            <TextInputLayout hint="Usia Kehamilan" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.usia_kehamilan" ></TextField>
            </TextInputLayout>

            <TextInputLayout hint="Usia HPHT" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.usia_hpht" ></TextField>
            </TextInputLayout>

            <CheckBox text="Keadaan Ibu Hidup" [(ngModel)]="persalinan.keadaan_ibu"></CheckBox>

            <CheckBox text="Keadaan Bayi Hidup" [(ngModel)]="persalinan.keadaan_bayi"></CheckBox>
            
            <TextInputLayout hint="Berat Bayi (Kilogram)" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.berat_bayi" ></TextField>
            </TextInputLayout>

            <Label text="Presentasi Janin"></Label>
            <DropDown
                [items]="presentasies"
                style="font-size: 18pt; margin: 8dp"
                class="dropdown"
                [selectedIndex] = "persalinan.presentasi"
                (selectedIndexChanged)="persalinan.presentasi = $event.newIndex"
            ></DropDown>

            <Label text="Tempat"></Label>
            <CheckBox text="Rumah" [(ngModel)]="persalinan.tempat.rumah"></CheckBox>
            <CheckBox text="Polindes" [(ngModel)]="persalinan.tempat.polindes"></CheckBox>
            <CheckBox text="Pustu" [(ngModel)]="persalinan.tempat.pustu"></CheckBox>
            <CheckBox text="Puskesmas" [(ngModel)]="persalinan.tempat.puskesmas"></CheckBox>
            <CheckBox text="Rumah Bersalin" [(ngModel)]="persalinan.tempat.rumah_bersalin"></CheckBox>
            <CheckBox text="Rumah Sakit Ibu Anak" [(ngModel)]="persalinan.tempat.rumah_sakit_ibu_anak"></CheckBox>
            <CheckBox text="Rumah Sakit" [(ngModel)]="persalinan.tempat.rumah_sakit"></CheckBox>
            <CheckBox text="Rumah Sakit Odha" [(ngModel)]="persalinan.tempat.rumah_sakit_odha"></CheckBox>
            
            <Label text="Penolong"></Label>
            <CheckBox text="Keluarga" [(ngModel)]="persalinan.penolong.keluarga"></CheckBox>
            <CheckBox text="Dukun" [(ngModel)]="persalinan.penolong.dukun"></CheckBox>
            <CheckBox text="Bidan" [(ngModel)]="persalinan.penolong.bidan"></CheckBox>
            <CheckBox text="Dokter Spesialis" [(ngModel)]="persalinan.penolong.dokter_spesialis"></CheckBox>
            <CheckBox text="Dokter" [(ngModel)]="persalinan.penolong.dokter"></CheckBox>
            <CheckBox text="Lainnya" [(ngModel)]="persalinan.penolong.lainnya"></CheckBox>
            <CheckBox text="Tidak Ada" [(ngModel)]="persalinan.penolong.tidak_ada"></CheckBox>

            <Label text="Cara Persalinan"></Label>
            <DropDown
                [items]="caras"
                style="font-size: 18pt; margin: 8dp"
                class="dropdown"
                [selectedIndex] = "persalinan.cara_persalinan"
                (selectedIndexChanged)="persalinan.cara_persalinan = $event.newIndex"
            ></DropDown>

            <Label text="Manajemen"></Label>
            <CheckBox text="Injeksi Oksitoksin" [(ngModel)]="persalinan.manajemen.injeksi_oksitoksin"></CheckBox>
            <CheckBox text="Peregangan Tali Pusat" [(ngModel)]="persalinan.manajemen.peregangan_tali_pusat"></CheckBox>
            <CheckBox text="Massage Fundus Uteri" [(ngModel)]="persalinan.manajemen.masase_fundus_uteri"></CheckBox>

            <TextInputLayout hint="Pelayanan IMD" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.pelayanan_imd" ></TextField>
            </TextInputLayout>
        
            <Label text="Pelayanan"></Label>            
            <CheckBox text="Partograf" [(ngModel)]="persalinan.pelayanan.partograf"></CheckBox>
            <CheckBox text="Buku KIA" [(ngModel)]="persalinan.pelayanan.buku_kia"></CheckBox>

            <TextInputLayout hint="Obat ARV yang diberikan" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.arv" ></TextField>
            </TextInputLayout>

            <TextInputLayout hint="Obat Malaria yang diberikan" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.malaria" ></TextField>
            </TextInputLayout>

            <TextInputLayout hint="Tubercolosis" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.tb" ></TextField>
            </TextInputLayout>

            <Label text="Komplikasi"></Label>
            <CheckBox text="Distosia" [(ngModel)]="persalinan.komplikasi.distosia"></CheckBox>
            <CheckBox text="HDK" [(ngModel)]="persalinan.komplikasi.hdk"></CheckBox>
            <CheckBox text="PPP" [(ngModel)]="persalinan.komplikasi.ppp"></CheckBox>
            <CheckBox text="Infeksi" [(ngModel)]="persalinan.komplikasi.infeksi"></CheckBox>
            
            <TextInputLayout hint="Komplikasi Lainnya" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.komplikasi_lainnya" ></TextField>
            </TextInputLayout>

            <Label text="Dirujuk ke "></Label>
            <DropDown
                [items]="rujukans"
                style="font-size: 18pt; margin: 8dp"
                class="dropdown"
                [selectedIndex] = "persalinan.dirujuk"
                (selectedIndexChanged)="persalinan.dirujuk = $event.newIndex"
            ></DropDown>

            <CheckBox text="Tiba" [(ngModel)]="persalinan.tiba"></CheckBox>
            <CheckBox text="Pulang" [(ngModel)]="persalinan.pulang"></CheckBox>

            <TextInputLayout hint="Alamat" hintAnimationEnabled="true">
                <TextField [(ngModel)]="persalinan.alamat" ></TextField>
            </TextInputLayout>

            <Button text="simpan" (tap)="save_persalinan()"></Button>

        </StackLayout>
    </ScrollView>

    <GridLayout row="auto,*" *tabItem="{title: 'Rencana Persalinan'}">

        <RadListView
                [items]="rencanas"
                pullToRefresh="true"
                (pullToRefreshInitiated)="load_rencanas($event)"
                selectedBehavior="Press"
        >

            <ng-template tkListItemTemplate let-item="item">

                <CardView class="card-list" radius="8">
                    <GridLayout columns="*,auto" class="wrapper" orientation="horizontal">
                        <StackLayout col="0" orientaion="vertical" (tap)="editPlansModal(item)" >
                            <Label class="title" [text]="item.tanggal"></Label>
                            <!--<Label class="desc" [text]="'HPHT '+item.HPHT"></Label>-->
                        </StackLayout>
                        <Image col="1" class="ic_action" src="res://ic_delete_black_48dp" (tap)="deleteplan(item.id)"></Image>
                    </GridLayout>
                </CardView>

            </ng-template>

        </RadListView>

        <FAB:fab (tap)="addPlansModal()" class="fab-button" row="1" rippleColor="#f1f1f1" ></FAB:fab>

    </GridLayout>

    <GridLayout row="auto,*" *tabItem="{title: 'Nifas'}">
        <RadListView
            [items]="nifases"
            pullToRefresh="true"
            (pullToRefreshInitiated)="loadNifases($event)"
            selectedBehavior="Press"
        >

            <ng-template tkListItemTemplate let-item="item">

                <CardView class="card-list" radius="8">
                    <GridLayout columns="*,auto" class="wrapper" (tap)="edit_nifas(item)" orientation="horizontal">
                        <StackLayout col="0" orientaion="vertical">
                            <Label class="title" [text]="item.tanggal"></Label>
                            <Label class="desc" [text]="'KF '+item.kf"></Label>
                        </StackLayout>

                        <Image col="1" class="ic_action" (tap)="delete_nifas(item)" src="res://ic_delete_black_48dp"></Image>

                    </GridLayout>
                </CardView>

            </ng-template>

        </RadListView>

        <FAB:fab (tap)="add_nifas()" class="fab-button" row="1" rippleColor="#f1f1f1" icon="res://ic_add_white_24dp" ></FAB:fab>

    </GridLayout>



</TabView>
