<StackLayout padding="16">

    <label text="Resume Keseluruhan" class="title_resume"></label>

    <Label [text]="resume_all[0]" textWrap="true"></Label>
    <Label [text]="resume_all[1]" textWrap="true"></Label>
    <Label [text]="resume_all[2]" textWrap="true"></Label>
    <Label [text]="resume_all[3]" textWrap="true"></Label>
    
    <label text="Resume Ibu" class="title_resume"></label>    

    <Label [text]="resume_ibu[0]" textWrap="true"></Label>
    <Label [text]="resume_ibu[1]" textWrap="true"></Label>
    <Label [text]="resume_ibu[2]" textWrap="true"></Label>
    
    <label text="Resume Janin" class="title_resume"></label>    

    <Label [text]="resume_janin[0]" textWrap="true"></Label>
    <Label [text]="resume_janin[1]" textWrap="true"></Label>
    <Label [text]="resume_janin[2]" textWrap="true"></Label>
    
    
</StackLayout>

