StackLayout {
    padding-left: 40;
    padding-right: 40;
    background-color: #fafafa;
}

Image {
    margin-top: 30;
    margin-bottom: 30;
}

Button {
    background-color: #2D9CDB;
    margin-bottom: 5;
    color: #fafafa;
}

.login_page{
    padding-left: 48dp;
    padding-right: 48dp;
    padding-bottom: 69dp;

}
