<StackLayout class="page">
    <Image src="res://logo" stretch="aspectFit" height="300dp" horizontalAlignment="center"></Image>

    <TextInputLayout hint="Nama Pengguna" hintAnimationEnabled="true">
        <TextField [(ngModel)]="user.username" autocapitalizationType="none"></TextField>
    </TextInputLayout>

    <TextInputLayout hint="Kata Sandi" hintAnimationEnabled="true">
        <TextField [(ngModel)]="user.password" secure="true"></TextField>
    </TextInputLayout>


    <Button (tap)="login()" text="Masuk"> </Button>
    <Label (tap)="navigatemenu()" textAlignment="center" text="Lupa Kata Sandi"></Label>
    
</StackLayout>